@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fafafa;
    --foreground: #212121;
  }
}

body {
  background: var(--background);
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), var(--font-noto-sans-mono);
}